body{
  font-family: "Arial", sans-serif;
  background-color: lightblue;
  background: linear-gradient();
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.container {
  background: red;
  border-radius: 20px;
  width: 90%;
  max-width: fit-content;
  box-shadow: inset;
  padding: 10px;
}

button {
  padding: 5px;
  margin: 10px;
  background-color: yellow;
  color: black;
  border: 10ch;
  border-radius: 0px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

#result {
  margin-top: 2px;
  font-weight: 100;
  font-size: medium;
  color: black;
}
